<div class="questionaire">
	<div class="bg-wrapper">
		<div class="left-side">
			<div class="thx">
				<header class="text-center">
					<h3 data-bind="html:title1">%Please note</h3>
					<h4 data-bind="text:title2">%Unfortunately, you did not answer all the "Trading knowledge" questions correctly and therefore, at this stage, CFD trading does not seem suitable for you.</h4>

				</header>

				<div class="suggestion text-center">
					<p data-bind="html:title3">
						%In order for you to become familiar with the product on offer, please review the trading tutorial and you can contact our customer support for any questions you may have.
					</p>
				</div>
				<div class="customer-support text-center">
					<h4 data-bind="text:title4">%Customer support:</h4>
					<ul class="inline">
						<li>
							<a data-bind="attr: { href: 'mailto: ' + lblComplianceEmail}">
								<i class="icon-email"></i>
								<span data-bind="text: lblComplianceEmail">support@iforex.com</span>
							</a>
						</li>
						<li>
							<a data-bind="attr: { href: 'tel: ' + lblCompliancePhone}">
								<i class="ico-wb-phone"></i>
								<span data-bind="text: lblCompliancePhone">+357-252-04600</span>
							</a>
						</li>
					</ul>
				</div>
			</div><!--end thank-you-->
		</div><!--end left-side-->
		<div class="clear"></div>
	</div>
</div>