<div class="questionaire welcome">
    <div class="bg-wrapper">
        <div class="left-side">
            <div class="thx">
                <header class="text-center">
                    <h4 class="bold" data-bind="html:title1">%Please take a few minutes to fill out this questionnaire before proceeding.</h4>
                </header>

                <div class="gesture note"></div>

                <header class="text-center">
                    <h4 class="bold" data-bind="html:title2">%Why do we need this information?</h4>
                    <h4 data-bind="html:title3">
                        %iFOREX is required by law to collect information about the identity,
                        financial status and origin of the funds of its clients.
                    </h4>

                    <h4 data-bind="html:title4">%Please complete the questionnaire.</h4>
                </header>

                <div class="btn-area text-center">
                    <ul>
                        <li><a class="button" data-bind="click:closeWelcome, text:btnLetsStart" href="javascript:void(0)">%Let's start</a></li>
                    </ul>
                </div>
                <header class="text-center">
                    <h4 data-bind="html:title5">%Your data is stored securely.<br>Vestle is authorized and regulated by the Financial Conduct Authority (FCA).</h4>
                </header>

            </div><!--end thank-you-->
        </div><!--end left-side-->
        <div class="clear"></div>
    </div><!--end bg-wrapper-->
</div>
