<div class="progress-steps questionaire-a" data-bind="css: currentCSS">

	<div class="progress-bar" data-bind="progressBarAutoResize"></div>

	<ul>
		<li class="one" data-bind="click: navigation.clickStepCdd1">
			<div>
				<span>1</span>
				<p data-bind="text: categories[0]">% Personal Details</p>
			</div>
		</li>
		<li class="two" data-bind="click: navigation.clickStepCdd2">
			<div>
				<span>2</span>
				<p data-bind="text: categories[1]">% Financial status</p>
			</div>
		</li>
		<li class="three" data-bind="click: navigation.clickStepKyc">
			<div>
				<span>3</span>
				<p data-bind="text: categories[2]">% Trading experience</p>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
</div>

<h2 data-bind="text: category">% category</h2>