.PopupWrapper {
	margin: 0px auto;
	padding: 40px 20px 20px 20px;
	max-width: 640px;
	height: auto;
	min-height: auto;
	filter: inherit;
	font-family: Verdana, Arial;
	background-color: #ffffff;
}

.PopupWrapper .content {
	width: 100%;
	margin: 0px auto;
	text-align: left;
}

.PopupWrapper .content .depHeader {
	max-width: 100%;
	background-repeat: no-repeat;
	background-image: url("../../images/CFDTradingExample_bg.png");
	background-position: bottom;
	margin-top: 20px;
	margin-bottom: 12px;
	border-bottom: 0px solid black;
}

.PopupWrapper .content .depHeader p#MainTitle {
	max-width: 100%;
	color: #2a3b4d;
	font-weight: bold;
	font-size: 33px;
	line-height: 37px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-top: 14px;
	padding-right: 8%;
}

.PopupWrapper .content .depHeader p#MainTitle span#MainTitleThinner {
	font-size: 19px;
	line-height: 24px;
	font-weight: normal;
}

.PopupWrapper .content .depHeader .ImgHeader {
	max-width: 259px;
	display: inline;
	text-align: right;
	padding-left: 0%;
	vertical-align: bottom;
}

.PopupWrapper .content .dep {
	width: 100%;
	background-color: #ffffff;
	display: inline-block;
	text-align: left;
}

.PopupWrapper .content .dep p#FirstTitle {
	color: #000000;
	font-size: 22px;
	line-height: 27px;
	text-align: left;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 2px;
}

.PopupWrapper .content .dep p#text1 {
	color: #000000;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.PopupWrapper .content .dep p#text2 {
	color: #000000;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 0px;
}

.PopupWrapper .content .dep .img {
	max-width: 100%;
	display: block;
	padding-left: 22px;
	padding-top: 2px;
}

.PopupWrapper .content .dep .img1 {
	display: none;
	max-width: 100%;
	display: block;
	padding-left: 22px;
	padding-top: 2px;
}

.PopupWrapper .content .dep ol.NumList {
	list-style-type: decimal;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding-inline-start: 22px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.PopupWrapper .content .dep ol.NoneNumList {
	list-style-type: none;
}

.PopupWrapper .content .dep ol.NoneNumList .BoxText {
	background-color: #efeeee;
	padding: 8px;
	margin: -3px;
}

.PopupWrapper .content .dep ol li {
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	padding-bottom: 7px;
	padding-top: 10px;
}

.PopupWrapper .content .dep ol li span.ListText {
	font-weight: normal;
}

.PopupWrapper .content .dep ol li p.ListText {
	font-weight: normal;
}

.PopupWrapper .content .dep ol li p.ListTextSection {
	font-weight: normal;
	padding-top: 10px;
	margin: 0;
}

.PopupWrapper .content .dep ol li span.ListTextOrenge {
	color: #ec881b;
	font-weight: bold;
}

@media only screen and (min-width: 710px) {
	.PopupWrapper .content .dep .img1 {
		display: none;
	}
}

@media only screen and (max-width: 710px) {
	.PopupWrapper .content .depHeader .ImgHeader {
		display: none;
	}
	.PopupWrapper .content .dep .img {
		display: none;
	}
	.PopupWrapper .content .dep .img1 {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.PopupWrapper .content .depHeader {
		max-width: 100%;
		background-repeat: no-repeat;
		background-image: none;
		background-position: bottom;
		margin: 0;
	}
	.PopupWrapper .content .depHeader p#MainTitle {
		max-width: 100%;
		color: #000000;
		font-weight: bold;
		font-size: 30px;
		line-height: 34px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		margin-top: 0px;
		margin-bottom: 17px;
		padding-right: 5%;
	}
	.PopupWrapper .content .dep ol.NoneNumList .BoxText {
		color: #878787;
	}
	.PopupWrapper .content .dep ol li p.ListTextSection {
		color: #878787;
	}
}

@media only screen and (max-width: 320px) {
	.PopupWrapper .content .depHeader .ImgHeader {
		display: none;
	}
	.PopupWrapper .content .dep .img {
		display: none;
	}
	.PopupWrapper .content .dep .img1 {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.PopupWrapper .content .depHeader {
		background-image: none;
	}
	.PopupWrapper .content .depHeader p#MainTitle {
		font-size: 27px;
		line-height: 33px;
	}
}