<div class="withdrawal-wrapper">
	<!-- ko if: Data.isLoading -->
	<div class="loader-background">
		<div class="loader"></div>
	</div>
	<!-- /ko -->
	<h1 class="page-title" data-bind="text: Dictionary.GetItem('title_withdrawFunds', 'withdrawal_withdrawalrequest')"></h1>
	<!-- ko if: !WithdrawalInfo.canWithdrawal() -->
	<p id="notAllowed" data-bind="html: Dictionary.GetItem(Data.notAllowedMsg(), 'withdrawal_withdrawalrequest')"></p>
	<!-- /ko -->
	<!-- ko if: WithdrawalInfo.canWithdrawal -->
	<div class="info-row" id="allowed">
		<div class="info-section">
			<p data-bind="html: Dictionary.GetItem('lblNewAllowed', 'withdrawal_withdrawalrequest')"></p>
		</div>
		<div class="info-section">
			<div class="max-amount">
				<span data-bind="text: Format.numberAddThousandSeparator(WithdrawalInfo.MaxWithdrawalAmount())"></span>
				&rlm;(<span data-bind="text: WithdrawalInfo.defaultCcy"></span>)
			</div>
		</div>
	</div>
	<div class="wrap-content top-separator">
		<div class="data-fields center-area">
			<div class="field-columns">
				<div class="field-column" data-bind="with: Data.withdrawalForm">
					<label for="amounttodeposit" id="amountLabel" data-bind="html: Dictionary.GetItem('lblAmount', 'withdrawal_withdrawalrequest')"></label>
					<input class="text-field" type="text" id="amounttodeposit"
						   data-bind="validationOptions: { decorateInputElement: true, messageTemplate: 'customMessageTemplate' },
						   textInput: Amount,
						   css: {'has-error': Amount.isDirty() && !Amount.isValid()}" />
				</div>
				<div class="field-column custom-select-wrapper">
					<select id="selectedCcy" class="select-field"
							data-bind="options: Data.depositCurrencies,
								optionsText: 'SymbolName',
								optionsValue: 'SymbolID',
								value: Data.withdrawalForm.SymbolId,
								customSelect: true,
								customSelectOptions: {
									wrapNative: false,
									wrapNativeOnMobile: true,
									fakeDropInBody: false,
									maxVisibleItems: 10,
									refreshWhenObservableValueChanges: true
							}"></select>
				</div>
			</div>
			<div class="field-line">
				<label for="commentOptional" id="commentLabel" data-bind="html: Dictionary.GetItem('lblNewAmountComments', 'withdrawal_withdrawalrequest')"></label>
				<textarea id="commentOptional" class="textarea-field" data-bind="textInput: Data.withdrawalForm.Details"></textarea>
			</div>
		</div>
	</div>
	<iframe class="uploadIframe" data-bind="iframeElement: Data.uploadVm.Form.iframeElement, attr: { src: Data.uploadVm.Form.iframeSrc}"></iframe>
	<!-- /ko -->
</div>

