<!--ko if: !$parent.Data.isLoading() -->
<!--ko if: showWelcomePage() && !showUnsuccessful() -->
<fx-welcome-client-questionnaire params="closeWelcome: closeWelcome"></fx-welcome-client-questionnaire>
<!--/ko-->
<!--ko if: showThankYou()-->
<fx-thankyou-client-questionnaire data-bind="scrollHere: showThankYou()"></fx-thankyou-client-questionnaire>
<!--/ko-->
<!--ko if: showUnsuccessful-->
<fx-unsuccessful-client-questionnaire></fx-unsuccessful-client-questionnaire>
<!--/ko-->
<!--ko if: isValidResponse  && !showWelcomePage() && !showThankYou() && !showUnsuccessful()-->
<section class="questionaire">
	<div data-bind="with: pager.currentPage" class="bg-wrapper">

		<div class="left-side">
			<fx-progress-bar-a params="navigation: $parent.navigation, pager: $parent.pager, categories: $parent.categories, questionnaireType: $parent.currentQuestionnaireType()"></fx-progress-bar-a>

			<fx-progress-title params="pager: $parent.pager, questionnaireType: $parent.currentQuestionnaireType()"></fx-progress-title>

			<div class="" data-bind="component : { name: componentName, params: { model: questionnaireItemsDictionary[name], questionnaireItemsDictionary: questionnaireItemsDictionary}}"></div>

			<div class="right-align btn-area row" data-bind="with: $parent">
				<!-- back -->
				<!--ko if: backBtnVisible()-->
				<a class="btn big back left" data-bind="click: function() { $('.ballon-info').removeClass('visible'); back(); $('div[class*=\'bg-wrapper\']').scrollTop(0) }" href="javascript:void(0)">
					<i class="ico-wb-left"></i>
					<span data-bind="text: backText">%back</span>
				</a>
				<!--/ko-->
				<!-- next -->
				<a class="btn big right" data-bind="css: { isprocessing: isProcessing() }, click: function() {  $('.ballon-info').removeClass('visible'); next(); $('div[class*=\'bg-wrapper\']').scrollTop(0) }" href="javascript:void(0)">
					<span data-bind="text: nextText()">%next</span>
					<!-- ko if: isProcessing()-->
					<span class="js_processing"></span>
					<!-- /ko-->
				</a>
				<div class="clear"></div>
			</div>


		</div><!--end left-side-->
		<fx-questionnaire-right-side></fx-questionnaire-right-side>
		<div class="clear"></div>
	</div><!--end bg-wrapper-->
</section>
<div class="clear"></div>

<!--/ko-->
<div data-bind="componentLoaded: { appEvent: eAppEvents.cddStatusLoadedEvent }"></div>
<!--/ko-->