<div class="right-side">
    <div class="logo cySec-visible">
        <div class="trust-logos cySec"></div>
    </div>
    <div class="logo fca-visible">
        <div class="trust-logos fca"></div>
    </div>
    <div class="logo miFid-visible">
        <div class="trust-logos miFid"></div>
    </div>
    <div class="logo pci-visible">
        <div class="trust-logos pci"></div>
    </div>
    <div class="logo huBnk-visible">
        <div class="trust-logos huBnk"></div>
    </div>
    <div class="logo fsc-visible">
        <div class="trust-logos fsc"></div>
    </div>
    <div class="logo dvdab-visible">
        <div class="trust-logos dvdab"></div>
    </div>
    <div class="logo bgafair-visible">
        <div class="trust-logos bgafair"></div>
    </div>
    <div class="logo rtl-4-visible">
        <div class="trust-logos rtl-4"></div>
    </div>
    <div class="logo ifsc-visible">
        <div class="trust-logos ifsc"></div>
    </div>
</div><!--end right-side-->