<div class="spinner-field">
    <div class="input-special focus" data-bind="amountSpinner: value, spinnerOptions: { input: '.spinnerAmountInput', min: min, max: max, step: step, page: step, numberFormat: 'n' + format(), startSpinFrom: ko.observable(eStartSpinFrom.Above) }">
        <div class="validation-holder"
             data-bind="validationOptions: { insertMessages: true, errorElementClass: 'error', decorateInputElement: true, messageTemplate: 'fx-template-deal-validation-tooltip' }">
            <input type="tel"
                   autocomplete="off"
                   maxlength="16"
                   class="spinnerAmountInput"
                   data-bind="textInput: value, attr: { id: id, name: name }" />
        </div>
    </div>
</div>