<div class="signals-access-request-container">
    <div class="signals-allowed">
        <div data-bind="visible: Data.isRequestNotSubmitted">
            <div class="row-wrapper">
                <span data-bind="dictionaryBinding: 'lblSignalsNotAllowed', resourceName: 'accessRequest'"></span>
            </div>
            <div class="row-wrapper btn-area">
                <a class="button center" data-bind="click: OnClickSubmitRequest">
                    <span id="btnContent" data-bind="dictionaryBinding: 'btnRequestVIPSignals', resourceName: 'accessRequest'"></span>
                </a>
            </div>
            <div class="signals-icon">
                <i class="ico-sh-signals"></i>
            </div>
        </div>
        <div data-bind="visible: Data.isRequestSubmitted">
            <div class="row-wrapper">
                <span class="bold" data-bind="dictionaryBinding: 'lblRequestSubmittedTitle', resourceName: 'accessRequest'"></span>
            </div>
            <div class="row-wrapper">
                <span data-bind="dictionaryBinding: 'lblSignalsRequestSubmitted', resourceName: 'accessRequest'"></span>
            </div>
        </div>
    </div>
    <div class="signals-access-request-extension">
        <div data-bind="visible: Data.isExtensionNotSubmitted">
            <div class="row-wrapper">
                <div>
                    <span data-bind="dictionaryBinding: 'lblSignalsRequestExtension', resourceName: 'accessRequest'"></span>
                </div>
                <div>
                    <a class="button-access-request" data-bind="click: OnClickSubmitRequest">
                        <span id="btnContent" data-bind="dictionaryBinding: 'btnRequestExtension', resourceName: 'accessRequest'"></span>
                    </a>
                </div>
            </div>
        </div>
        <div data-bind="visible: Data.isExtensionSubmitted">
            <div class="row-wrapper">
                <span class="bold" data-bind="dictionaryBinding: 'lblRequestSubmittedTitle', resourceName: 'accessRequest'"></span>
            </div>
            <div class="row-wrapper">
                <span id="btnContent" data-bind="dictionaryBinding: 'lblSignalsExtensionSubmitted', resourceName: 'accessRequest'"></span>
            </div>
        </div>
    </div>
</div>
