<html>
    <head>
        <title>Layout</title>
    </head>
    <body>
        <div> 
        <div class="adv-panels-content" id="gui-pattern" >
   
            <container>
                <prochart>
                    <div  id="%id%" class="prof_chart noselect %css%"  %pstyle% >
                        <div  class="htmlchart adv-svgchart layout1" style="position: relative">
                            %htmlslide%
                            <div id="%innid%" class="main-layout-innner-container layout-innner-container" %pstylein% >
                                %html%
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </prochart>
            </container> 
    
    
            <top-pattern>
                <div  id="%id%" class="%css% layout-top"  %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
            </top-pattern> 
    
            <left-pattern>
                <div  id="%id%" class="%css% layout-left noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
            </left-pattern> 
      
    
            <right-pattern>
                <div  id="%id%" class="%css% layout-right noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
            </right-pattern> 
    
    
            <bottom-pattern>
                <div  id="%id%" class="%css% layout-bottom noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
            </bottom-pattern> 
    

            <main-pattern>
                <div  id="%id%" class="%css% layout-main noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div> 
                </div>
            </main-pattern> 
    
            <main-pattern-chart>
                <div id="divChart%id%" tabindex="0"   class="%css%  noselect layout-main-chart"   %pstyle%>%html%</div>
            </main-pattern-chart> 

    
            <row-pattern>
                <div  id="%id%" class="%css% layout-row noselect" %pstyle%>%html%</div>
            </row-pattern> 
    
    
            <col-pattern>
                <div  id="%id%" class="%css% layout-col noselect" %pstyle%>%html%</div>
            </col-pattern> 

            <slide-left-pattern>
                 <div  id="%id%" class="%css% layout-slide layout-slide-left noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>

            </slide-left-pattern> 
             
             
            <slide-right-pattern>
                <div  id="%id%" class="%css% layout-slide layout-slide-right noselect" %pstyle%>
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
            </slide-right-pattern>
           
            <layout-lock-pattern>
                <div id="%id%" class="layout-lock" %pstyle% >
                    <div id="%innid%"  class="layout-innner-container"  %pstylein%>
                        <button class="icon-button  button-action" tid="slide-toleft" type="button" data-localize="tools.tools.close_lock" title="" style="position: absolute; top:2px; right:2px;  border-radius: 25px;">
                            <span class="delete-icon"></span> 
                        </button>
                        <!--<button class="icon-button  button-action" tid="slide-toright" type="button" data-localize="tools.tools.close_lock" title="" style="position: absolute; top:30px; left:30px;  border-radius: 25px;">
                           <span class="delete-icon"></span> 
                        </button>-->
                    </div>
                </div>

            </layout-lock-pattern>
           
               
        </div>
        </div>
    </body>
</html>

 
