<div class="padtop3">
    <div class="amount-input input-special" data-bind="lowMarginSpinner: value, spinnerOptions: { input: '.spinnerAmountInput', min: min, max: max, step: step, page: step, numberFormat: 'n2', startSpinFrom: ko.observable(eStartSpinFrom.Above), enabled : enabled }">
        <div class="validation-holder" data-bind="css: { error: !isSelectedAmountValid() }, validationOptions: { decorateInputElement: false, insertMessages: false } ">
            <input type="tel"
                   autocomplete="off"
                   maxlength="16"
                   class="spinnerAmountInput"
                   data-bind="textInput: value, attr: { id: id, name: name }, adjustUiPerDevice, css: { disabled : !enabled()}" />
        </div>
    </div>
</div>