<div class="instrument-unavailable"
     data-bind="showIntrumentNotAvailable: { instrData: Data.instrumentData(), dealContainerClass: 'deal-content-transaction-data', keepContainerHeight: true }">
    <div class="deal-content instrument-unavailable-wrapper">
        <span class="warn-icon"></span>
        <span class="instrument-notavailable-text">
            <span class="bold" data-bind="dictionaryBinding: 'InstrumentInactive'"></span>
            <span data-bind="dictionaryBinding: 'InstrumentInactivePart2'"></span>
        </span>
    </div>
</div>