<div class="tiles-actions" data-bind="if: $component.Data.layouts.length > 1, tileLayoutSelector: { layoutExpanded:$component.Data.isLayoutSelectorExpanded }">
    <ul class="chart-menu">
        <li class="select-chart">
            <a href="javascript:void()"
               class="selected index_1"
               data-bind="css: 'index_' + $component.Data.selectedLayout(),
                          clickBubble: false,
                          click: ToggleLayoutSelector,
                          attr: { title: Dictionary.GetItem('tile_layout_' + $component.Data.selectedLayout(), 'chart_station') },
                         'data-automation': 'charts-layout-selector'"></a>
            <ul data-bind="foreach: $component.Data.layouts, css: { 'visible': $component.Data.isLayoutSelectorExpanded() }">
                <li>
                    <a href="#" 
                       data-bind="clickBubble: false, 
                                  click: function(){ $component.SelectLayout($data); },
                                  attr: { title: Dictionary.GetItem('tile_layout_' + $data, 'chart_station') },
                                  css: 'index_' + $data"></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="expand"
               data-bind="css: $component.Data.isFullScreen() ? 'expand' : 'collapsed',
                          attr: { title: $component.Data.isFullScreen() ? Dictionary.GetItem('ExitFullScreen', 'chart_station') : Dictionary.GetItem('FullScreen', 'chart_station') },
                          click: ToggleFullScreen,
                          dealSlipToggle: { isFullScreen: $component.Data.isFullScreen, trakingEventName: 'chart-interaction' },
                          'data-automation': 'charts-fullscreen-toogle'"></a>
        </li>
    </ul>
</div>

<div class="tiles-container" data-bind="foreach: $component.Data.templates, css: 'c-' + $component.Data.selectedLayout()">
    <div class="tile-element" data-bind="css: 'c-'+ $index() + '-' + $component.Data.selectedLayout() + ($component.Data.activeTileId() === $index() ? ' tile-element-active':'')">
        <!-- ko template: {
            name: $component.Data.templates[$index()].name,
            data: {
                index: $index(),
                isFullScreen: $component.Data.isFullScreen,
                isSingleMode: $component.Data.isSingleMode,
                isActive: ko.pureComputed(function isActive(){ return $component.Data.activeTileId() === $index(); }),
                activeChangedHandler: function activeChangedHandler(idx) { $component.Data.setActiveHandler($index(), idx); }
            }
        } -->
        <!-- /ko -->
        <div class="tile-block" data-bind="click: function(){ $component.SetActiveTile($index()); }"></div>
    </div>
</div>