<html>
    <head>
        <title>Layout</title>
    </head>
<body>
    <div class="adv-panels-content" id="gui-pattern" >
   
        <container>
            <prochart>
            <div  id="%id%" class="prof_chart noselect %css%"  %pstyle% >
                <div  class="htmlchart adv-svgchart layout1">
                    <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            </prochart>
        </container> 
    
    
     <top-pattern>
         <div  id="%id%" class="%css% layout-top"  %pstyle%>
             <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
            </div>
         </div>
    </top-pattern> 
    
    <left-pattern>
        <div  id="%id%" class="%css% layout-left noselect" %pstyle%>
            <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
            </div>
        </div>
    </left-pattern> 
      
    
    <right-pattern>
        <div  id="%id%" class="%css% layout-right noselect" %pstyle%>
           <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
            </div>
        </div>
    </right-pattern> 
    
    
    <bottom-pattern>
        <div  id="%id%" class="%css% layout-bottom noselect" %pstyle%>
          <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
            </div>
        </div>
    </bottom-pattern> 
    

    <main-pattern>
        <div  id="%id%" class="%css% layout-main noselect" %pstyle%>
            <div id="%innid%" class="layout-innner-container" %pstylein% >
                        %html%
            </div> 
        </div>
    </main-pattern> 
    
    <main-pattern-chart>
       <div id="divChart%id%" tabindex="0"   class="%css%  noselect layout-main-chart"   %pstyle%>%html%</div>
    </main-pattern-chart> 

    
    <row-pattern>
        <div  id="%id%" class="%css% layout-row noselect" %pstyle%>%html%</div>
    </row-pattern> 

 
    </div>
</body>
</html>

 
