<div id="lblIntro" class="note deposit-note-top">
    <h3>
        <i class="icon-info"></i>
        <!-- ko text: Dictionary.GetItem('pleasenotice', 'payment_vmobile_ewallet') --><!-- /ko -->
    </h3>
    <p class="payment-type-details" data-bind="dictionaryBinding: 'lblpaymentintro', resourceName: 'payment_vmobile_ewallet'"></p>
    <fx-concrete-payment-subtitle></fx-concrete-payment-subtitle>
    <p data-bind="dictionaryBinding: 'MOBILE_ECOPAYZ_DISCLAIMER', resourceName: 'payment_vmobile_ewallet'"></p>
</div>
